:root{
--red : ;
}
html{
    
    background-color: #1d0303;

}
header{
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}
#website-Name{
    font-family: 'Staatliches', cursive;
    color: aliceblue;
    font-size: 50px;
}
#games-button{
    background-color:  rgba(103, 16, 16, 0.866);
    color: white;
    font-weight: 500;
    border: 5px solid #160404;
}
#containerWBoxes{
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    color: antiquewhite;
    font-family: 'Bebas Neue','Staatliches', cursive ;
}

.link {
    font-family: 'Staatliches', cursive;
    font-size: 29px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:wavy ;
}
.title {
    font-size: 40px;
    font-weight: 400;
     color:beige;
   
}
.nav-item a{
    font-size: 25px;
    font-weight: 500;
}
#todaysGamesTitle{
    color: antiquewhite;
    font-weight: 600;
    font-family: 'Staatliches', cursive;
}
#homeName,
#visitorName
{
    font-size: 30px;
}
#homeScore,
#visitorScore,
#vsLogo {
    font-size: 20px;
}